doctype html
html
  head
    title= pageTitle
    meta(name="description", content="Dynamic webview")
    link(id="favicon", rel="icon", href="https://glitch.com/edit/favicon-app.ico", type="image/x-icon")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
  body
    script.
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        
    main
      img(src="https://media.giphy.com/media/5wWf7GW1AzV6pF3MaVW/giphy.gif", title="High five")
      
    h2 What do you like?
    
    form(id="preferencesForm")
      input(type="checkbox" id="likes-bots" name="botsAttribute" value="yes")
      label(for="likes-bots") Bots

      input(type="checkbox" id="likes-music" name="musicAttribute" value="yes")
      label(for="likes-music") Music

      input(type="checkbox" id="likes-food" name="foodAttribute" value="yes")
      label(for="likes-dood") Food

      input(type="checkbox" id="likes-ghosts" name="ghostsAttribute" value="yes")
      label(for="likes-ghosts") Ghosts
      
      input(type="hidden", name="userId" value=userId)
      input(type="hidden", name="blockName", value=blockName)

      button(type="submit") Submit

    script(src="https://code.jquery.com/jquery-2.2.1.min.js",
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=",
            crossorigin="anonymous")

    script.
        // This function is called when the extensions are loaded and ready
        window.extAsyncInit = function() {
            console.log('MessengerExtensions are ready');

            // Handle button click
            $('#preferencesForm').submit(function(event) {
                console.log('Pressed submit button');
                event.preventDefault();

                // Get the form data to send to our endpoint
                const formData = $('#preferencesForm').serialize();

                // Post to our server endpoint to broadcast back to the user
                $.post('/webviews/submit-webview', formData, (data) => {
                    MessengerExtensions.requestCloseBrowser(function success() {
                        // webview closed
                        console.log('Closed the window!');
                    }, function error(error) {
                        // an error occurred
                        console.log('Error closing browser window!');
                        console.log(error);
                        $('#infoMessage').text(`requestCloseBrowser error : ${error}`);
                    });
                });
            });
        };
        
        window.addEventListener('unload', () => {
          console.log('Unload');
        });

        window.addEventListener('beforeunload', () => {
          console.log('Before unload');
        });

    
